
<app-header></app-header>
<div class="youtubeLists">
        <!-- *ngFor="let id of YTId; index as i" -->
        <div class="playContent col-md-8 col-12" >
            <iframe src="https://www.youtube.com/embed/Fllk9zr9iM8"></iframe>
            <!-- <h2>{{id.items[0].id.videoId}}</h2>
            <h2>{{this.youtube}}{{id.items[0].id.videoId}}</h2> -->
        </div>
        <div class="songList col-md-4 col-12">
            <h2>test</h2>
            <div class="singleSong" *ngFor="let data of datas; index as i">
            <img src="{{data.album.images[0].url}}" alt="">
            <div class="text">
                <h4>{{data.name}}</h4>
                <h4>{{data.album.artist.name}}</h4>
            </div>
            </div>
        </div>

</div>
