<div class="home_body">
  <div class="d-flex flex-column">
    <div class="d-flex flex-column" style="height: 20%;">
    <app-header></app-header>
    <app-carousel></app-carousel>
    </div>
    <div className="homeMain_wrap" style="cursor: pointer">
      <section>
      <h2  style="text-align: center">馬上到熱門歌單聽歌</h2>
          <div className="playLists" >
            <ul *ngFor="let item of datas ;index as i">
              <li>{{item.title}}</li>
            </ul>
                  <div className="item" style="margin: 20px">
                          <img src="https://i.kfs.io/playlist/global/26541395v377/cropresize/300x300.jpg"/>
                          <div style="text-align: center; margin: 20px; font-size: 18px">
                              test
                          </div>
                  </div>
          </div>
      </section>
  </div>
  </div>
</div>
